.footer {
  background: rgba(1, 3, 29, 0.85);
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  padding: 1%;
  display: inline-block;
}

a.footerlogo {
  color: #fff;
  width: 10%;
  float: left;
  padding: 1% 1% 1% 1%;
  text-decoration: none;
  margin: 0% 5% 0% 0%;
}

.icon {
  width: 25px;
  float: left;
  height: 25px;
  margin: 7px;
  position: relative;
}

.testo_disclaimer {
  color: white;
  padding: 0;
  font-size: 15px;
  text-align: left;
  width: 100%;
}

.disclaimer {
  text-align: center;
}

.icon:hover {
  opacity: 0.5;
}
